body {
  background-color:black;
  color:silver;
  font-family:georgia;
}

p {
  text-align: justify;
  margin-left: 5%;
  margin-right: 10%;
}

a {
  text-decoration:none;
  color:white
}

a:hover {
  color:silver;
}