body {
  background-color:black;
  color:silver;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

table {
  table-layout: fixed;
  text-align: center;
  color: white;
  width: 100%;
}

figure {
  border: 1px solid gray;
  padding: 3%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

figcaption {
  color: white;
  padding: 5pt;
  text-align: center;
}

img {
  width: 90%;
}

hr {
  width: 70%;
}

h1 {
  color:white
}

h2 {
  color:white;
  text-align: center;
}

h3 {
  color: white;
  margin-left: 5%;
}

mark {
  background:none;
}

p {
  text-align: justify;
  margin-left: 5%;
  margin-right: 10%;
}

a {
  text-decoration:none;
  color:white
}

a:hover {
  color:silver;
}